<!-- Success Modal -->
<div id="success-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content border-0">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center p-5">
				This is your success message!
			</div>
			<div class="modal-footer border-0 justify-content-center">
				<button type="button" class="btn btn-primary px-5" data-bs-dismiss="modal">Try again</button>
			</div>
		</div>
	</div>
</div>
