/**
Checkout

Blue: rgb(24 106 255)
*/

body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(232 230 230);
}

a {
  color: #00B7FF;
}

.btn-primary {
  background-color: rgb(24 106 255);
}

#components-wrapper {

  padding: 3em 2em;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#components-wrapper #payment-form {
  width: 550px;
}

.container {
  width: 550px;
  margin: auto;
  padding-right: 0;
  padding-left: 0;
}

#components-disclaimer {
  padding: 1em;
  text-align: center;
  font-size: .9em;
}

#aspect-modal textarea {
  font-size: .8em;
}


.drop-down-selector, .drop-down-selector:hover, .drop-down-selector:focus {
font-family: "Inter";
    font-size: 14px;
    color: black;
    background-color: #d7d3d3;
    border: none;
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 40px;
}

.dropdown-item {
  font-family: "Inter";
  font-size: 14px;
    color: black;
}
