/**
Checkout

Blue: rgb(24 106 255)
*/

body {
  font: 14px "Inter";
  -webkit-font-smoothing: antialiased;
}

a {
  color: #00B7FF;
}

.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: #186AFF;
  border-color: #186AFF;
}

.btn-primary {
  background-color: rgb(24 106 255);
}

.demo-options {
  
}

.demo-options .dropdown .label {
  font-weight: 600;
}

.demo-content {
  background-color: rgb(232 230 230);
  border-radius: 6px;
}

.demo-content #components-wrapper {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.demo-content #components-wrapper.device-desktop {
  max-width: 550px;
}

.demo-content #components-wrapper.device-mobile {
  max-width: 350px;
}

.demo-content #payment-form {
  width: 100%;
}

#components-disclaimer {
  padding: 1em;
  text-align: center;
  font-size: .9em;
}

#aspect-modal textarea {
  font-size: .8em;
}

.drop-down-selector,
.drop-down-selector:hover,
.drop-down-selector:focus {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #5C5B61;
  background-color: #FFFFFF;
  border: 1px solid #C6C1C1;
  border-radius: 4px;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  font-size: 14px;
  width: 100%;
  height: 40px;
}

.dropdown-toggle::after {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 0.3rem;
  float: right;
}

.dropdown-item {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #5C5B61;
}

.dropdown li a.disabled {
  white-space: pre-wrap;
}

.dropdown .dropdown-icon svg {
  height: 20px;
  color: rgb(24 106 255);
  margin: 2px 0 1px;
}